doctype html
html
    .export_component_root
        div(class='weather-value-container set optional-weather-item weather-data-' + side )
            div(class='weather-item weather-item-' + index)
                span.weather-title #{title}
                span.weather-description #{description}
