doctype html
html
    head
        meta(charset='UTF-8')
        title Give Me The Weather!

    body
        main.search-view
            div.searchfield-container
                input.city-search-field#main-search(
                    placeholder="Enter the city's name"
                    autofocus
                )
