doctype html
html
    head
        meta(charset='UTF-8')
        title Give Me The Weather!

    body
        main.search-view
            div.searchfield-container
                input.city-search-field#main-search(
                    placeholder="Enter the city's name"
                    autofocus
                )
            div.weather-data.hidden
                div.weather-value-container.weather-data-left
                    div.temperature
                        span#temperature
                        span °C
                div.weather-value-container.weather-data-right
                    span#time
